@inherits LayoutComponentBase

<main class="px-4 py-5 bg-zinc-800">

	<div class="flex justify-center w-full">
		<div class="flex justify-between items-center w-full max-w-screen-lg mx-4 text-center">

			<a href="/" class="button align-center bg-green-700 hover:bg-green-500 text-white font-bold
									py-3 px-6 rounded-full flex-grow ml-4">
				Home
			</a>

			<a href="https://www.fbmi.cvut.cz/cs/home" target="_blank"
				class="button bg-violet-700 hover:bg-violet-500 text-white font-bold py-3 px-6 rounded-full flex-grow ml-4">
				FBMI
			</a>
			
			<a href="/vybaveni_nemocnice" class="bg-violet-700 hover:bg-violet-500 text-white font-bold
													py-3 px-0 rounded-full flex-grow ml-4">
				Vybavení nemocnice
			</a>

			<a href="/hra" class="button bg-violet-700 hover:bg-violet-500 text-white font-bold
									py-3 px-4 rounded-full flex-grow ml-4">
				Hra
			</a>

		</div>
	</div>

</main>

<div class="px-4 py-5 bg-zinc-500 text-white h-screen">
	@Body
</div>	