
<div>@vybaveni?.Name</div>

<div>@vybaveni?.BoughtDateTime.Year-@vybaveni?.BoughtDateTime.Month-@vybaveni?.BoughtDateTime.Day</div>

<div>@vybaveni?.LastRevision.Year-@vybaveni?.LastRevision.Month-@vybaveni?.LastRevision.Day</div>

<div>@((vybaveni.IsRevisionNeeded) ? "Ano" : "Ne")</div>

<div>
	<button @onclick="() => RevizeEventCallback.InvokeAsync()" 
		class="bg-[#5c2d91] bg-opacity-60 hover:bg-opacity-70 hover:shadow-md rounded-full px-5 py-1 font-bold text-white">
		Provést revizi
	</button>
</div>

<div>
    <button @onclick="() => SmazEventCallback.InvokeAsync()" 
		class="bg-red-500 bg-opacity-60 hover:bg-opacity-70 hover:shadow-md rounded-full px-5 py-1 font-bold text-white">
		Smazat
	</button>
</div>

@code {

	[Parameter] public VybaveniVM? vybaveni { get; set; } 
	[Parameter] public EventCallback RevizeEventCallback { get; set; }
	[Parameter] public EventCallback SmazEventCallback { get; set; }

}