@page "/hra"
<PageTitle>Hledání čísel | PPT3 Jirkovský</PageTitle>

<div class="flex flex-col justify-center">   

    <h3 class="px-4 py-4 flex flex-col max-w-screen rounded-lg text-[#fbfbfb]
    font-bold text-4xl text-center w-full">
        Hledání Čísla
    </h3>

</div>

<div class="flex flex-col items-center bg-neutral-100 text-neutral-800 shadow-xl rounded-lg bg-opacity-70 md:w-1/2 mx-auto mt-6">

	<div class="flex flex-col items-center px-4 py-4">

		<label class="font-bold text-xl my-2">
			Hádej číslo od 1 do 100:
		</label>

		<label>@gameLabel</label>

		<input class="my-2 py-1 rounded-full text-black text-center"
		@bind-value="guess" @bind-value:event="oninput" />

		<button class="bg-[#5c2d91] hover:bg-[#7438b7] text-white font-bold border-2 border-[#5c2d91]
			py-2 px-10 rounded-full my-2 flex-grow"
			@onclick="GuessClicked">
			Hádat
		</button>

		<button class="bg-neutral-100 border-2 border-[#5c2d91] text-[#5c2d91] font-bold
			hover:bg-[#5c2d91] hover:text-white
			py-2 px-7 rounded-full my-2 flex-grow"
			@onclick="NewGame">
			Nová Hra
		</button>

	</div>

</div>

@code
{

	public string gameLabel { get; set; } = "";
	public string? guess { get; set; }
	int randomNumber = Random.Shared.Next(1, 101);

	void GuessClicked()
	{
		if (!int.TryParse(guess, out int guessInt))
		{
			gameLabel = "Zadávej jen čísla!";
			return;
		}

		if (guessInt == randomNumber)
		{
			gameLabel = $"Správně! Mé číslo bylo {randomNumber}";
			return;
		}

		else
		{
			string hint = randomNumber < guessInt ? "menší" : "větší";
			gameLabel = $"Mé číslo je {hint}...";
		}

	}

	void NewGame()
	{
		randomNumber = Random.Shared.Next(1, 101);
		gameLabel = "";
		guess = "";
	}

}