@page "/hra"
<PageTitle>Hledání čísel | PPT3 Jirkovský</PageTitle>

<div class="flex flex-col items-center bg-zinc-600 rounded-lg">

	<h3 class="font-bold text-3xl my-2">Hledání čísel</h3>

	<label class="font-bold text-xl my-2">
		Hádej číslo od 1 do 100:
	</label>

	<label>@gameLabel</label>

	<input class="my-2 rounded-lg text-black text-center" @bind-value="guess" @bind-value:event="oninput" />

	<button class="bg-violet-700 hover:bg-violet-500 text-white font-bold py-1 px-10 rounded-full my-2 flex-grow"
		@onclick="GuessClicked">
		Hádat
	</button>

	<button class="bg-yellow-700 hover:bg-yellow-500 text-white font-bold py-1 px-7 rounded-full my-2 flex-grow"
		@onclick="NewGame">
		Nová Hra
	</button>

</div>

@code
{

	public string gameLabel { get; set; } = "";
	public string? guess { get; set; }
	int randomNumber = Random.Shared.Next(1, 101);

	void GuessClicked()
	{
		if (!int.TryParse(guess, out int guessInt))
		{
			gameLabel = "Zadávej jen čísla!";
			return;
		}

		if (guessInt == randomNumber)
		{
			gameLabel = $"Správně! Mé číslo bylo {randomNumber}";
			return;
		}

		else
		{
			string hint = randomNumber < guessInt ? "menší" : "větší";
			gameLabel = $"Mé číslo je {hint}...";
		}

	}

	void NewGame()
	{
		randomNumber = Random.Shared.Next(1, 101);
		gameLabel = "";
		guess = "";
	}

}