@page "/"
<PageTitle>Home | PPT3 Jirkovský</PageTitle>

<div class="flex flex-col justify-center">   

    <h3 class="px-4 py-4 flex flex-col max-w-screen rounded-lg text-[#fbfbfb]
    font-bold text-4xl text-center w-full">
        Domovská stránka
    </h3>

</div>

<div class="flex flex-col md:flex-row justify-center mt-6 md:w-3/4 mx-auto text-justify">

    <div class="bg-white rounded-lg shadow-2xl text-neutral-800 w-full p-4 bg-opacity-70">

        <h4 class="text-xl bg-white font-bold text-center text-center py-2 mb-4 bg-opacity-80 rounded-lg shadow-md font-bold">Fakulta Biomedicínkého Inženýrství</h4>

        <p>Fakulta biomedicínského inženýrství (FBMI) na ČVUT je jedním z předních vzdělávacích a výzkumných center v oblasti biomedicínského inženýrství v České republice. FBMI nabízí bakalářské, magisterské a doktorské programy zaměřené na aplikované vědy v oblasti biomedicíny a zdravotnictví.</p>
        <br />
        <p>Studenti FBMI mají k dispozici moderní výuková zařízení, včetně speciálních laboratoří a klinikálních simulátorů, které umožňují praktickou výuku a výzkum v reálném prostředí.</p>

    </div>

    <div class="bg-white rounded-lg shadow-2xl text-neutral-800 w-full mt-4 mb-6 md:mb-0 md:mt-0 md:ml-6 p-4 bg-opacity-70">

        <h4 class="text-xl bg-white font-bold text-center text-center py-2 mb-4 bg-opacity-80 rounded-lg shadow-md font-bold">Vybavení nemocnice</h4>

        <p>Tato webová aplikace slouží k efektivní správě vybavení v nemocnici. Díky přehlednému rozhraní je možné snadno sledovat stav všeho vybavení a zjistit, zda něco potřebuje další údržbu nebo revizi. Uživatelé mohou také rychle označit položky, které již nejsou použitelné nebo jsou zastaralé, a provést jejich odstranění.</p>
        <br />
        <p>Celkově tato webová aplikace usnadňuje správu vybavení v nemocnici, což zlepšuje efektivitu práce a zvyšuje kvalitu péče poskytované pacientům.</p>
    
    </div>

</div>

<div class="flex flex-col md:flex-row justify-center mt-6 md:w-2/3 mx-auto text-justify mb-6">

    <div class="bg-white rounded-lg shadow-2xl text-neutral-800 w-full p-4 bg-opacity-70 md:w-1/2">

        <h4 class="text-xl bg-white font-bold text-center text-center py-2 mb-4 bg-opacity-80 rounded-lg shadow-md font-bold">Hra</h4>

        <p>Webová hra "Hádej číslo" je jednoduchá a zábavná hra, která si klade za cíl uhodnout náhodně vygenerované číslo mezi 1 a 100. Hráči se snaží co nejrychleji uhodnout číslo, přičemž hra poskytuje nápovědy v podobě "větší/menší", aby hráči mohli postupně omezovat své odhady a co nejdříve najít správné číslo. Hra může být hraná samostatně nebo s více hráči a nabízí jednoduchý způsob, jak si zkrátit čas a procvičit si své matematické dovednosti.</p>

    </div>

</div>