@page "/"
<PageTitle>Home | PPT3 Jirkovský</PageTitle>

<div class="bg-white rounded-lg shadow-2xl text-neutral-800">

    <div class="px-4 py-4 flex justify-center ">
        <h1 class="text-3xl">
            Vítej na mém webu
        </h1>
    </div>

    <div class="px-4 py-4 flex justify-center">   
        <h2 class="text-2xl">
            Vyzkušej menu
        </h2>
    </div>

</div>

<div class="flex flex-col md:flex-row justify-between w-full mt-6 h-80">

    <div class="bg-white rounded-lg shadow-2xl text-neutral-800 w-full h-full
    md:mr-2 mr-0 px-4 py-4">
    
        <h4 class="text-xl text-center block">
            Lorem Impsum
        </h4><br />
        <p class="text-justify">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    
    </div>

    <div class="bg-white rounded-lg shadow-2xl text-neutral-800 w-full h-full
    md:ml-2 ml-0 md:mt-0 mt-4 px-4 py-4">

        <h4 class="text-xl text-center block">
            Lorem Impsum
        </h4><br />
        <p class="text-justify">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>

    </div>



</div>