@page "/"
<PageTitle>Home | PPT3 Jirkovský</PageTitle>

<div class="flex flex-col justify-between ">   

    <h3 class="px-4 py-4 flex flex-col max-w-screen rounded-lg text-[#fbfbfb]
    font-bold text-4xl text-center w-full">
        Domovská stránka
    </h3>

</div>

<div class="flex flex-col justify-center md:flex-row mt-6 pl-110">

    <div class="bg-white bg-opacity-70 rounded-lg shadow-2xl text-neutral-800
    md:mr-2 mr-0 px-4 py-4 text-justify">
    
        <h4 class="text-xl text-center text-left block rounded-lg font-bold">
            Fakulta biomedicínkého inženýrství
        </h4><br />
        <p class="text-justify">
            Fakulta biomedicínského inženýrství (FBMI) na ČVUT je jedním z předních vzdělávacích a výzkumných center v oblasti biomedicínského inženýrství v České republice. FBMI nabízí bakalářské, magisterské a doktorské programy zaměřené na aplikované vědy v oblasti biomedicíny a zdravotnictví. 
        </p>
        <br />
        <p>
            Studenti FBMI mají k dispozici moderní výuková zařízení, včetně speciálních laboratoří a klinikálních simulátorů, které umožňují praktickou výuku a výzkum v reálném prostředí. Fakulta spolupracuje s významnými domácími a zahraničními institucemi, což umožňuje studentům získávat zkušenosti a znalosti v mezinárodním kontextu.
        </p>

    </div>

    <div class="bg-white bg-opacity-70 rounded-lg shadow-2xl text-neutral-800
    md:ml-2 ml-0 md:mt-0 mt-4 px-4 py-4 text-justify">

        <h4 class="text-xl text-left block font-bold">
            Vybavení nemocnice
        </h4><br />
        <p class="">
            Tato webová stránka/aplikace slouží k efektivní správě vybavení v nemocnici. Uživatelé mohou snadno přidávat nové položky, jako jsou lékařské přístroje nebo nábytek, a specifikovat informace jako jméno, datum zakoupení a datum poslední revize.<br><br> Díky přehlednému rozhraní je možné snadno sledovat stav všeho vybavení a zjistit, zda něco potřebuje další údržbu nebo revizi. Uživatelé mohou také rychle označit položky, které již nejsou použitelné nebo jsou zastaralé, a provést jejich odstranění.<br><br>Celkově tato webová aplikace usnadňuje správu vybavení v nemocnici, což zlepšuje efektivitu práce a zvyšuje kvalitu péče poskytované pacientům.
        </p>

    </div>

</div>