@page "/vybaveni_nemocnice"
<PageTitle>Vybavení nemocnice | PPT3 Jirkovský</PageTitle>

<div class="px-4 py-5 flex justify-center bg-zinc-600 rounded-lg">   
    <h3 class="font-bold text-3xl">
        Vybavení Nemocnice
    </h3>
</div>

@code {

}
