@page "/vybaveni_nemocnice"
<PageTitle>Vybavení nemocnice | PPT3 Jirkovský</PageTitle>

<div class="flex flex-col justify-center">   

    <h3 class="px-4 py-4 flex flex-col max-w-screen rounded-lg text-[#fbfbfb]
    font-bold text-4xl text-center w-full">
        Vybavení Nemocnice
    </h3>

</div>

<div class="flex flex-col justify-center" >

    <div class="grid bg-white grid-cols-6 gap-x-2 gap-y-2 rounded-lg mt-6
    px-4 py-4 flex flex-col max-w-screen rounded-lg shadow-xl text-neutral-800
    text-m text-center w-full bg-opacity-70 items-center">

        @foreach (var vybaveni in vybaveniList)
        {
            <VybaveniRow vybaveni="vybaveni"
                SmazEventCallback = "() => vybaveniList.Remove(vybaveni)"
                RevizeEventCallback = "() => vybaveni.LastRevision = DateTime.Now">


            </VybaveniRow>
        }


    </div>

</div>

@code {
    List<VybaveniVM> vybaveniList = new();

    public VybaveniNemocnice()
    {
        vybaveniList = VybaveniVM.ReturnRandomList();
    }

    public void NewVybaveni()
    {
        vybaveniList.Clear();
        vybaveniList = VybaveniVM.ReturnRandomList(); 
    }

}
